@import '../../../scss/constants/colours';
@import '../../../scss/constants/responsive';

.StyledShadow__rear,
.StyledShadow__front {
    width: 100%;
    height: 100%;
}

.StyledShadow__rear {
    position: absolute;
}

.StyledShadow__front {
    position: relative;
}

.StyledShadow__rearInset {
    &.StyledShadow__currentHighlight {
        color: $colour__current__dark;
    }

    &.StyledShadow__playedHighlight {
        color: $colour__played__dark;
    }

    &.StyledShadow__gold {
        color: $colour__frame__dark;
    }
}

.StyledShadow__rearShadow {
    color: $colour__neutral__dark;

    & * {
        // Override svg styling.
        fill: $colour__neutral__dark !important;
        stroke: none;
    }
}

.StyledShadow__frontInset {
    mix-blend-mode: screen;

    &.StyledShadow__currentHighlight {
        color: $colour__current__dark;
    }

    &.StyledShadow__playedHighlight {
        color: $colour__played__dark;
    }

    &.StyledShadow__gold {
        color: $colour__frame__dark;
    }
}

.StyledShadow__frontShadow {
    color: $colour__text__light;

    &.StyledShadow__gold {
        color: $colour__link__light;
        fill: $colour__link__light;
    }
}

.StyledShadow__rearShadow,
.StyledShadow__frontInset {
    top: 1px;
    left: 1px;

    @media
    (min-width: $breakpoint__xs) and (orientation: portrait),
    (min-height: $breakpoint__xs) and (orientation: landscape) {
        top: 2px;
    }
}