@import '../../../../scss/constants/responsive';

.Keyboard {
    margin-top: $margin__xs;
    height: $margin__md * 2;

    @media (min-width: $breakpoint__xs) {
        height: $margin__lg * 2;
    }

    @media (min-width: $breakpoint__sm) {
        height: $margin__lg * 3;
    }
}