@import '../../../scss/constants/borders';
@import '../../../scss/constants/colours';
@import '../../../scss/constants/responsive';
@import '../../../scss/mixins/reflection';

$length__base: $margin__xs;
$length__frame: $length__base * 0.75;
$length__inset__top: $length__base * 0.33;
$length__inset__side: $length__base * 0.125;

$borderRadius__outer: $borderRadius__wide;
$borderRadius__inner: $borderRadius__wide - $length__base * 0.66;

.StyledFrame {
    position: relative;
    width: 100%;

    @media (min-width: $breakpoint__sm) {
        padding:
            $length__frame + $length__inset__top
            $length__frame + $length__inset__side
            $length__frame;
        border-radius: $borderRadius__outer;
    }
}

.StyledFrame__body {
    position: relative;
    @media (min-width: $breakpoint__sm) {
        border-radius: $borderRadius__inner;
    }
}

.StyledFrame__frameFront,
.StyledFrame__frameInset,
.StyledFrame__frameBottom {
    display: none;
    @media (min-width: $breakpoint__sm) {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.StyledFrame__frameFront {
    @media (min-width: $breakpoint__sm) {
        border-radius: $borderRadius__outer;
        @include mixin__reflection(
            $colour__frame__medium,
            $colour__frame__light,
        );
    }
}

.StyledFrame__frameInset {
    @media (min-width: $breakpoint__sm) {
        width: calc(100% - #{$length__frame * 2});
        height: calc(100% - #{$length__frame * 2});
        margin: $length__frame;
        border-radius: $borderRadius__inner;
        background-color: $colour__frame__dark;
    }
}

.StyledFrame__frameBottom {
    @media (min-width: $breakpoint__sm) {
        top: $length__base;
        border-radius: $borderRadius__outer;
        background-color: $colour__frame__dark;
    }
}