@import '../../../scss/constants/borders';
@import '../../../scss/constants/colours';
@import '../../../scss/constants/responsive';

.PuzzleLink {
    width: $margin__md * 3;
    height: $margin__md * 3;
    padding: $margin__xs;

    // Ensure that button is fully covered when hand is also shown.
    background-color: $colour__board;
    border-radius: $borderRadius__lg;

    @media
    (min-width: $breakpoint__xs) and (orientation: portrait),
    (min-height: $breakpoint__xs) and (orientation: landscape) {
        width: $margin__lg * 3;
        height: $margin__lg * 3;
    }

    @media
    (min-width: $breakpoint__sm) and (orientation: portrait),
    (min-height: $breakpoint__sm) and (orientation: landscape) {
        width: $margin__xl * 3;
        height: $margin__xl * 3;
    }
}

.PuzzleLink__text {
    margin-top: -$margin__xs;
}

.PuzzleLinkBoard {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
}

.PuzzleLinkBoard__withHand {
    width: 82.5%; // Eyeballed.
    height: 82.5%;
}
