@import '../../../scss/constants/demo';
@import '../../../scss/constants/responsive';

.Pool {
    display: none;
    height: $height__pool;

    @media
    (min-width: $breakpoint__sm) and (orientation: portrait),
    (min-height: $breakpoint__sm) and (orientation: landscape) {
        display: flex;
    }
}

.Pool__label {
    height: $margin__md;
}

.Pool__row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: $margin__xs;
}