@import '../../scss/constants/borders';
@import '../../scss/constants/colours';
@import '../../scss/constants/responsive';
@import '../../scss/constants/shadows';

.DominoCard {
    width: 100%;
    padding: $margin__xs $margin__sm;
}

.DominoCard__styled {
    background-color: $colour__background__light;
    border-radius: $borderRadius__md;
    box-shadow: $boxShadow__above;
}

.DominoCard__inset {
    padding: $margin__xs;
    min-height: $margin__xl + $margin__xxs;
}

.DominoCard__styledInset {
    background-color: $colour__board;
    border-radius: $borderRadius__md;
    box-shadow: inset $boxShadow__above;
}