@import '../../../../scss/constants/borders';
@import '../../../../scss/constants/responsive';

$length__icon: 160px;

.ValidIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $length__icon;
    height: $length__icon;
    padding: $margin__xs;
    transform: translate(-50%, -50%);
    border-radius: $borderRadius__sm;
    background-color: #48b;
}