@import '../../../scss/constants/responsive';

.StyledTabbedBackLink {
    margin-right: $margin__xs;
}

.BackLink__text {
    .StyledTabbedBackLink
    & {        
        display: none;
        
        @media (min-width: $breakpoint__md) {
            display: block;
        }
    }
}