@import '../../../scss/constants/colours';
@import '../../../scss/constants/responsive';

.MainFooter {
    width: 100%;
    padding: $margin__sm $margin__md;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: $margin__sm;

    background-color: $colour__background__medium;
    
    @media (min-width: $breakpoint__md) {
        flex-direction: row;
    }
}