@import '../../../scss/constants/demo';
@import '../../../scss/constants/menu';
@import '../../../scss/constants/page';
@import '../../../scss/constants/responsive';

.DemoBody {
    width: 100%;
    height: 100%;

    @media (orientation: landscape) {
        overflow: hidden;
        justify-content: flex-start;

        @media (min-width: $breakpoint__md) {
            justify-content: space-between;
        }
    }
}

.DemoBody__dominoes {
    display: none;
    flex-direction: column;

    @media (orientation: portrait) {
        display: flex;
        width: $width__dominoes__xxs;
        height: calc(100% - #{$portraitLength__board__xxs});
        min-height: $portraitHeight__info__xxs;
        padding-top: $margin__xs;
        
        @media (min-width: $breakpoint__xs) {
            width: $width__dominoes__xs;
            min-height: $portraitHeight__info__xs;
            height: calc(100% - #{$portraitLength__board__xs});
        }

        @media (min-width: $breakpoint__sm) {
            width: $width__dominoes__sm;
            height: calc(100% - #{$portraitLength__board__sm});
            min-height: $portraitHeight__info__sm;
            flex-direction: row;
        }

        @media (min-width: $breakpoint__md) {
            width: $width__dominoes__md;
            height: calc(100% - #{$portraitLength__board__md});
        }
    }

    @media (min-width: $breakpoint__md) and (orientation: landscape) {
        display: flex;
        padding: $margin__xs 0;
        max-width: $width__dominoes__md;
        height: 100%;
    }
}

.DemoBody__poolControls {
    @media (min-width: $breakpoint__sm) and (orientation: portrait) {
        max-width: $width__dominoes__sm;
    }
}