@use 'sass:math';
@import '../../../../scss/constants/demo';
@import '../../../../scss/constants/responsive';
@import '../../../../scss/constants/shadows';

.PlayerCard {
    width: calc(50% - #{math.div($margin__xs, 2)});
    min-width: $width__playerCard;
    height: calc(50% - #{math.div($margin__xs, 2)});
    min-height: $height__playerCard__xxs;

    @media (min-width: $breakpoint__xs) {
        min-height: $height__playerCard__xs;
    }
}

.PlayerCard__label {
    height: $margin__xl;
    // Prevent heads from getting too big.
    max-height: $margin__xl + $margin__sm;

    @media (min-width: $breakpoint__xs) {
        height: $margin__xl + $margin__xs;
        max-height: $margin__xl + $margin__xl;
    }

    @media (min-width: $breakpoint__sm) {
        height: $margin__xl + $margin__sm;
    }

    @media (min-width: $breakpoint__md) {
        height: $margin__xl + $margin__md;
    }
}

.DominoCard__inset {
    .PlayerCard
    & {
        max-height: $margin__xl + $margin__xxs; // Eyeballed.
    }
}

.PlayerCard__domino {
    // Force domino to be same size even if fewer than three in the hand.
    width: calc(33.33% - #{math.div($margin__xs * 2, 3)});
    max-width: $margin__xl * 1.5;
}

.PlayerCard__player {
    height: 100%;
    filter: $dropShadow;

    svg {
        // Needed for Safari.
        width: auto;
    }
}

.PlayerCard__winnerIcon {
    bottom: 0.05em;
}