@use 'sass:math';
@import '../../../../scss/constants/demo';
@import '../../../../scss/constants/responsive';

.PlayerCard {
    width: calc(50% - #{math.div($margin__xs, 2)});
    min-width: $width__playerCard;
    height: calc(50% - #{math.div($margin__xs, 2)});
    min-height: $height__playerCard;

    @media (min-height: $breakpoint__md) and (orientation: landscape) {
        width: 100%;
    }
}

.DominoCard__inset {
    .PlayerCard
    & {
        max-height: $margin__xl * 1.5; // Eyeballed.
    }
}

.PlayerCard__domino {
    width: calc(33.33% - #{math.div($margin__xs * 2, 3)});
    max-width: $margin__xl * 1.5;
}