svg {
    &.dominoes {
        .text {
            font-size: 72px;
            fill: hsl(45, 100%, 90%);
            font-family: Fresca-Regular, Fresca;
        }
        .outline {
            stroke: hsl(45, 100%, 90%);
            stroke-width: 15px;
        }
        .background { fill: hsl(160, 30%, 39%); }
        .left { fill: hsl(45, 5%, 57%); }
        .right { fill: hsl(45, 5%, 47%); }
        .edge { fill: hsl(45, 20%, 77%); }
        .face { fill: hsl(45, 30%, 87%); }
        .dotsBottom { fill: hsl(0, 0%, 37%); }
        .dotsFace { fill: hsl(0, 0%, 52%); }
        .cBottom { fill: hsl(5, 40%, 42%); }
        .cFace { fill: hsl(5, 40%, 52%); }
        .gBottom { fill: hsl(25, 45%, 32%); }
        .gFace { fill: hsl(25, 45%, 42%); }
        .dBottom { fill: hsl(45, 45%, 32%); }
        .dFace { fill: hsl(45, 45%, 42%); }
        .aBottom { fill: hsl(60, 45%, 32%); }
        .aFace { fill: hsl(60, 45%, 42%); }
        .eBottom { fill: hsl(100, 40%, 32%); }
        .eFace { fill: hsl(100, 50%, 42%); }
        .bBottom { fill: hsl(150, 45%, 32%); }
        .bFace { fill: hsl(150, 45%, 42%); }
        .fgBottom { fill: hsl(180, 45%, 32%); }
        .fgFace { fill: hsl(180, 45%, 42%); }
        .cdBottom { fill: hsl(205, 35%, 42%); }
        .cdFace { fill: hsl(205, 35%, 52%); }
        .gaBottom { fill: hsl(230, 35%, 52%); }
        .gaFace { fill: hsl(230, 35%, 62%); }
        .deBottom { fill: hsl(260, 35%, 47%); }
        .deFace { fill: hsl(260, 35%, 57%); }
        .abBottom { fill: hsl(290, 35%, 42%); }
        .abFace { fill: hsl(290, 35%, 52%); }
        .fBottom { fill: hsl(335, 30%, 37%); }
        .fFace { fill: hsl(335, 30%, 47%); }
    }
}