svg {
    &.dominoes {            
        .background { fill: hsl(160, 30%, 37%); }

        [class^=text] {
            font-size: 84px;
            font-family: Fresca;
        }
        [class^=outline] {
            fill: none;
            stroke-width: 10px;
        }

        .textFelt { fill: hsl(45, 100%, 90%); }
        .outlineFelt {
            stroke: hsl(45, 100%, 90%);
            stroke-width: 15px;
        }

        .textLogoPresent {
            fill: hsl(0, 32%, 57%);
            font-family: Rancho;
        }

        .textLogoShadow { fill: hsl(270, 10%, 52%); }
        .textLogo { fill: hsl(270, 20%, 72%); }

        .textFirstShadow { fill: hsl(180, 65%, 22%); }
        .outlineFirstShadow { stroke: hsl(180, 65%, 22%); }
        .textFirst { fill: hsl(180, 65%, 72%); }
        .outlineFirst { stroke: hsl(180, 65%, 72%); }

        .textSecondShadow { fill: hsl(30, 65%, 22%); }
        .outlineSecondShadow { stroke: hsl(30, 65%, 22%); }
        .textSecond { fill: hsl(30, 65%, 72%); }
        .outlineSecond { stroke: hsl(30, 65%, 72%); }
        
        .iconErrorShadow,
        .textErrorShadow { fill: hsl(0, 65%, 22%); }
        .outlineErrorShadow { stroke: hsl(0, 65%, 22%); }
        .iconError, .textError { fill: hsl(0, 65%, 72%); }
        .outlineError { stroke: hsl(0, 65%, 72%); }

        .iconSuccessShadow { fill: hsl(150, 65%, 22%); }
        .iconSuccess { fill: hsl(150, 65%, 72%); }
    }
}