.dominoes {
    .text {
        font-size: 84px;
        font-family: Fresca;
    }
    [class^=chicle] {
        font-family: Chicle;
        letter-spacing: 0.05em;
    }
    .symbol {
        font-size: 60px;
    }
    [class$=Line] {
        fill: none;
        stroke-width: 10px;
    }
    .wide {
        stroke-width: 20px;
    }
    .dashed {
        stroke-dasharray: 12;
    }
}
