svg {
    &.bobtailDominoes {
        .left { fill: hsl(45, 5%, 57%); }
        .right { fill: hsl(45, 5%, 47%); }
        .edge { fill: hsl(45, 20%, 77%); }
        .face { fill: hsl(45, 30%, 87%); }
        .bBottom { fill: hsl(150, 45%, 32%); }
        .bFace { fill: hsl(150, 45%, 42%); }
        .dBottom { fill: hsl(45, 45%, 32%); }
        .dFace { fill: hsl(45, 45%, 42%); }
        .dotsBottom { fill: hsl(0, 0%, 37%); }
        .dotsFace { fill: hsl(0, 0%, 52%); }
    }

    &.copyUrl {
        fill: hsl(195, 8%, 47%);
    }

    &.copyUrlCopied {
        fill: hsl(120, 33%, 67%);
    }

    &.facebook {
        fill: $colour__facebook;
    }

    &.twitter {
        fill: $colour__twitter;
    }

    &.popupClose {
        fill: hsl(0, 50%, 65%);
    }
}
