@import '../../../scss/constants/shadows';
@import '../../../scss/constants/transition';

.ButtonAnimatable {
    position: relative;
    height: 100%;
    width: 100%;
}

.ButtonAnimatable__enabled {
    cursor: pointer;

    .Button:hover
    & {
        animation: bounceHover $transitionDuration__slow;
    }

    .Button:active
    & {
        transform: scale(0.9);
    }
}

.ButtonAnimatable__dropShadow {
    filter: $dropShadow;

    .Button:hover
    & {
        filter: $dropShadow__lightHover;
    }
}