@import '../../../scss/constants/borders';
@import '../../../scss/constants/colours';
@import '../../../scss/constants/responsive';

$length__frame: 8px;
$length__top__edge: $length__frame * 0.25;
$length__side__edge: $length__frame * 0.33;
$length__bottom__edge: $length__frame * 0.5;

$borderRadius__outer: $borderRadius__wide;
$borderRadius__inner: $borderRadius__wide - $length__frame * 0.25;

.StyledPage {
    flex-grow: 1;
    position: relative;
    display: flex;

    padding: $length__top__edge $length__side__edge $length__bottom__edge;
    border-radius: $borderRadius__outer;

    @media (min-width: $width__page__narrow) {
        width: $width__page__narrow;
    }
}

.StyledPage__body {
    flex-grow: 1;
    position: relative;
    display: flex;

    border-radius: $borderRadius__inner;
    overflow: hidden;

    background-color: $colour__background__light;

    & > * {
        position: relative;
    }
}

.StyledPage__pageSide,
.StyledPage__pageBottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.StyledPage__pageSide {
    border-radius: $borderRadius__outer;
    background-color: #ccc;
}

.StyledPage__pageBottom {
    top: $length__frame;
    border-radius: $borderRadius__outer;
    background-color: #888;
}