@import '../../../scss/constants/borders';
@import '../../../scss/constants/colours';
@import '../../../scss/constants/responsive';

$length__base: $margin__xs;
$length__top__edge: $length__base * 0.25;
$length__side__edge: $length__base * 0.5;
$length__bottom__edge: $length__base * 0.5;

$borderRadius__outer: $borderRadius__wide;
$borderRadius__inner: $borderRadius__wide - $length__base * 0.25;

.StyledPage {
    flex-grow: 1;
    position: relative;
    width: 100%;
    @media (min-width: $breakpoint__sm) {
        padding:
            $length__top__edge
            $length__side__edge
            $length__bottom__edge;
        border-radius: $borderRadius__outer;
    }
}

.StyledPage__body {
    flex-grow: 1;
    position: relative;
    display: flex;
    overflow: hidden;
    background-color: $colour__background__light;
    
    & > * {
        position: relative;
    }
    
    @media (min-width: $breakpoint__sm) {
        border-radius: $borderRadius__inner;
    }
}

.StyledPage__pageSide,
.StyledPage__pageBottom {
    display: none;

    @media (min-width: $breakpoint__sm) {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.StyledPage__pageSide {
    @media (min-width: $breakpoint__sm) {
        border-radius: $borderRadius__outer;
        background-color: #ccc;
    }
}

.StyledPage__pageBottom {
    @media (min-width: $breakpoint__sm) {
        top: $length__base;
        border-radius: $borderRadius__outer;
        background-color: #888;
    }
}