@import '../../../scss/constants/borders';
@import '../../../scss/constants/colours';
@import '../../../scss/constants/responsive';

$length__frame: 4px;
$offset__inset__top: $length__frame * 0.4;
$offset__inset__side: $length__frame * 0.125;
$offset__bottom: $length__frame * 0.5;

$borderRadius__outer: $borderRadius__wide;
$borderRadius__inner: $borderRadius__wide - $length__frame * 0.66;

.StyledPage {
    flex-grow: 1;
    position: relative;
    display: flex;

    padding: $length__frame;
    // padding-top: $length__frame + $offset__inset__top;
    border-radius: $borderRadius__outer;

    @media (min-width: $width__page__narrow) {
        width: $width__page__narrow;
    }
}

.StyledPage__body {
    flex-grow: 1;
    display: flex;

    margin: 0 $offset__inset__side;
    border-radius: $borderRadius__inner;
    overflow: hidden;

    & > * {
        position: relative;
    }
}

.StyledPage__frameFront,
.StyledPage__frameBottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.StyledPage__frameFront {
    border-radius: $borderRadius__outer;
    background-color: #884;
}

.StyledPage__frameBottom {
    top: $offset__bottom;
    border-radius: $borderRadius__outer;
    background-color: #ccc;
}