@import '../../../scss/constants/colours';
@import '../../../scss/constants/responsive';
@import '../../../scss/mixins/gradients';

.StyledBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + #{$height__appFooter});

    background-color: $colour__wrapper;
    
    &:before, &:after {
        position: absolute;
        top: 0;
        width: 45%;
        height: 100%;
        content: '';
    }
    
    &:before {
        left: 0;
        @include mixin__easeLinearGradient(right);
    }

    &:after {
        right: 0;
        @include mixin__easeLinearGradient(left);
    }
}
