@import '../../../scss/constants/responsive';

.PitchButtons {
    position: relative;
    margin: $length__arcadeButton__sm * 0.5;
    width: $length__arcadeButton__sm * 4;
    height: $length__arcadeButton__sm * 4;

    @media (min-width: $breakpoint__xs) {
        margin: $length__arcadeButton__md * 0.5;
        width: $length__arcadeButton__md * 4;
        height: $length__arcadeButton__md * 4;
    }

    @media (min-width: $breakpoint__sm) {
        margin: $length__arcadeButton__lg * 0.5;
        width: $length__arcadeButton__lg * 4;
        height: $length__arcadeButton__lg * 4;
    }
}