@import '../../../scss/constants/responsive';

.CheckerPitchButtons {
    padding: $margin__md;
}

.CheckerPitchButtons__buttons {
    position: relative;
    width: $length__chordChecker;
    height: $length__chordChecker;
}
