@import '../../../scss/constants/borders';
@import '../../../scss/constants/colours';
@import '../../../scss/constants/responsive';
@import '../../../scss/mixins/reflection';

$length__base: $margin__xs;
$length__top__edge: $length__base * 0.25;
$length__side__edge: $length__base * 0.5;
$length__bottom__edge: $length__base * 0.5;
$borderRadius__outer: $borderRadius__lg;
$borderRadius__inner: $borderRadius__lg - $length__base * 0.25;

.StyledPage {
    flex-grow: 1;
    position: relative;
    width: 100%;

    @media (min-width: $breakpoint__sm) {
        padding:
            $length__top__edge
            $length__side__edge
            $length__bottom__edge;
        border-radius: $borderRadius__outer;
        background-color: $colour__neutral__dark;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100% - #{$length__base});
            border-radius: $borderRadius__outer;
            @include mixin__reflection(
                $colour__neutral__medium,
                $colour__neutral__light,
            );
            content: '';
        }
    }
}

.StyledPage__body {
    position: relative;
    padding: $margin__xs;

    @media (min-width: $breakpoint__sm) {
        padding: $margin__sm;
        margin-bottom: $length__base;
        border-radius: $borderRadius__inner;
    }

    @media (min-width: $breakpoint__md) {
        padding: $margin__md;
    }

    background-color: $colour__background__light;
}

.StyledPage__body__tabbedMenu {
    padding-top: 0;
}