@import '../../scss/constants/borders';
@import '../../scss/constants/colours';
@import '../../scss/constants/responsive';

.Demo {
    width: 100%;
    height: 100vh;
    padding: $margin__md $margin__xl;
    background-color: $colour__board;
    overflow: hidden;
}

.Demo__column {
    // Allows logs to scroll.
    // height: 100%;
}