@import '../../scss/constants/colours';
@import '../../scss/constants/responsive';
@import '../../scss/constants/transition';

.Board {
    background-color: $colour__board;
}

.Board__square {
    aspect-ratio: 1 / 1;
}

.Board__movable {
    position: absolute;
    transform: translate(-50%, -50%);
    transition:
        top $transitionDuration__slowest,
        left $transitionDuration__slowest,
        width $transitionDuration__slowest,
        height $transitionDuration__slowest;
}

.Board__topChild {
    position: absolute;
    top: $margin__xs;
    width: 100%;
    text-align: center;
}