/* https://color.adobe.com */

$colour__wrapper: hsl(300, 28%, 37%);
$colour__home__primary: hsl(20, 93%, 52%);
$colour__home__secondary: hsl(60, 83%, 62%);

$colour__background__dark: hsl(190, 18%, 52%);
$colour__background__medium: hsl(170, 28%, 87%);
$colour__background__light: hsl(150, 33%, 97%);

$colour__neutral__dark: hsl(60, 3%, 37%);
$colour__neutral__medium: hsl(0, 3%, 62%);
$colour__neutral__light: hsl(0, 3%, 72%);

$colour__opaque__dark: hsla(60, 3%, 17%, 0.7);
$colour__opaque__medium: hsl(60, 3%, 32%, 0.7);

$colour__text__dark: hsl(60, 3%, 27%);
$colour__text__medium: hsl(60, 3%, 52%);
$colour__text__mediumLight: hsl(60, 3%, 72%);
$colour__text__light: hsl(60, 3%, 92%);

$colour__current__dark: hsl(320, 38%, 42%);
$colour__played__dark: hsl(180, 58%, 32%);

$colour__frame__dark: hsl(60, 23%, 37%);
$colour__frame__medium: hsl(60, 28%, 62%);
$colour__frame__light: hsl(60, 33%, 72%);

$colour__platform__dark: hsl(270, 3%, 27%);
$colour__platform__medium: hsl(270, 3%, 37%);

$colour__board: hsl(160, 23%, 47%);
$colour__display: hsl(150, 13%, 57%);

$colour__primary__dark: hsl(45, 23%, 47%);
$colour__primary__light: hsl(45, 28%, 82%);

$colour__link__dark: hsl(270, 43%, 62%);
$colour__link__medium: hsl(270, 58%, 77%);
$colour__link__light: hsl(270, 73%, 87%);
