$width__sm: 480px;
$width__lg: 960px;

$height__appFooter: 48px;

$length__icon__xs: 18px;
$length__icon__sm: 24px;
$length__icon__md: 32px;
$length__icon__lg: 44px;

$length__checkerButton__sm: 10.5vw;
$length__checkerButton__md: 10vw;
$length__checkerButton__lg: 84px;

$margin__xs: 8px;
$margin__sm: 16px;
$margin__md: 24px;
$margin__lg: 32px;
$margin__xl: 40px;

$breakpoint__xs: 480px;
$breakpoint__sm: 769px; // iPad narrow length.
$breakpoint__md: 1024px; // iPad wide length.
$breakpoint__lg: 1366px;