@import '../../../../scss/constants/colours';
@import '../../../../scss/constants/responsive';

.YearlingsBobtailUpsell {
    color: $colour__neutral__dark;
    text-align: center;
}

.YearlingsBobtailUpsell__bandLabel {
    margin-top: -$margin__xxs;
}