@import '../../../scss/constants/responsive';

.Board {
    width: 100%;
    height: 0;
    padding-bottom: 100%;

    @media (min-width: $breakpoint__xs) {
        height: 100%;
        padding-bottom: 0;
    }

    @media (min-width: $breakpoint__xs) and (min-height: $breakpoint__sm) {
        height: 0;
        padding-bottom: 100%;
    }

    @media (min-width: $breakpoint__sm) {
        height: 100%;
        padding-bottom: 0;
    }

    @media (min-width: $breakpoint__sm) and (min-height: $breakpoint__md) {
        height: 0;
        padding-bottom: 100%;
    }

    @media (min-width: $breakpoint__md) {
        height: 100%;
        padding-bottom: 0;
    }

    @media (min-width: $breakpoint__md) and (min-height: $breakpoint__lg) {
        height: 0;
        padding-bottom: 100%;
    }

    @media (min-width: $breakpoint__lg) {
        position: absolute;
        height: 100%;
    }
}