@import '../../scss/constants/colours';
@import '../../scss/constants/responsive';

.HomeFlex {
    max-width: $width__sm;
}

.homeDominoes {
    filter:
        drop-shadow(
            0 0
            $margin__xl * 3
            $colour__home__primary
        );
}

.DominoSvg__homeDominoes {
    position: relative;
    &:before {
        position: absolute;
        top: 48%;
        left: 35%;
        width: 30%;
        height: 4%;
        border-radius: 50%;
        content: '';
        background-color: $colour__home__secondary;
        box-shadow:
            0 0
            $margin__lg * 3
            $margin__lg * 4
            $colour__home__secondary;
    }
}