@import '../../../scss/constants/colours';
@import '../../../scss/constants/responsive';
@import '../../../scss/constants/shadows';

.StyledTabbedMenu {
    width: calc(100% + #{$margin__xs * 2});
    height: $margin__lg;
    padding: 0 $margin__xs;

    background-color: $colour__background__dark;

    @media
    (min-width: $breakpoint__xs) and (orientation: portrait),
    (min-height: $breakpoint__xs) and (orientation: landscape) {
        width: calc(100% + #{$margin__sm * 2});
        height: $margin__xl;
        padding: 0 $margin__md;
        padding-top: $margin__xs;
    }

    @media
    (min-width: $breakpoint__sm) and (orientation: portrait),
    (min-height: $breakpoint__sm) and (orientation: landscape) {
        width: calc(100% + #{$margin__md * 2});
        height: $margin__xl + $margin__sm;
        padding: 0 $margin__lg;
        padding-top: $margin__sm;
    }

    &:before {
        bottom: -$margin__sm;
        box-shadow: $boxShadow__above;
    }

    &:after {
        bottom: -$margin__md;
    }
}

.StyledTabbedMenu:before,
.StyledTabbedMenu:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: $margin__sm;
    background-color: $colour__background__light;
    content: '';
}