@import '../../../scss/constants/colours';
@import '../../../scss/constants/responsive';
@import '../../../scss/constants/shadows';

.StyledTabbedMenu {
    position: relative;
    width: calc(100% + #{$margin__xs * 2});
    padding: 0 $margin__xs 0 $margin__sm;

    @media (min-width: $breakpoint__sm) {
        width: calc(100% + #{$margin__sm * 2});
        padding: $margin__xs $margin__sm 0 $margin__md;
    }

    @media (min-width: $breakpoint__md) {
        width: calc(100% + #{$margin__md * 2});
        padding: $margin__sm $margin__md 0 $margin__lg;
    }

    background-color: $colour__background__dark;

    &:before {
        bottom: -$margin__sm;
        box-shadow: $boxShadow__above;
    }

    &:after {
        bottom: -$margin__md;
    }
}

.StyledTabbedMenu:before,
.StyledTabbedMenu:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: $margin__sm;
    background-color: $colour__background__light;
    content: '';
}