@import '../../../scss/constants/responsive';

$length__display: 200px;

.ChordDisplay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8em;
}

.ChordDisplay__child {
    position: relative;
    width: $length__display;
    height: $length__display;
    padding: $margin__sm;
}