@import '../../../scss/constants/responsive';

$length__display: 200px;

.ChordDisplay__container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
}

.ChordDisplay {
    height: 100%;
    padding: $margin__sm;
}