@import '../../../../scss/constants/colours';
@import '../../../../scss/constants/responsive';
@import '../../../../scss/constants/shadows';

.BackgroundPage {
    width: 100%;
    height: 100%;

    background-color: $colour__background__light;
    box-shadow: $boxShadow__above;

    @media (min-width: $width__page__narrow) {
        width: $width__page__narrow;

        background: linear-gradient(
            to right,
            hsl(0, 0%, 0%) 0% 15%,
            hsl(120, 50%, 25%) 45%,
            hsl(120, 50%, 25%) 55%,
            hsl(0, 0%, 0%) 85% 100%
        );
    }

}