@import '../../../scss/constants/borders.scss';

.DominoSvg {
    [class^=text] {
        font-size: 84px;
        font-family: Fresca;
    }
    [class^=outline] {
        fill: none;
        stroke-width: 10px;
    }
    [class^=textRancho] {
        font-family: Rancho;
    }
}

.DominoSvg__page {
    svg {
        border-radius: $borderRadius__wide;
        overflow: hidden;
    }
}