@import '../../../scss/constants/borders.scss';

.DominoSvg {
    .text {
        font-size: 84px;
        font-family: Fresca;
    }
    [class^=rancho] {
        font-family: Rancho;
    }
    .characterAccidental {
        font-family: Maestro;
    }
    .symbol {
        font-size: 60px;
    }
    [class$=Line] {
        fill: none;
        stroke-width: 10px;
    }
    .wide {
        stroke-width: 20px;
    }
    .dashed {
        stroke-dasharray: 12;
    }
}

.DominoSvg__figure {
    svg {
        border-radius: $borderRadius__wide;
        overflow: hidden;
    }
}

.DominoSvg__full {
    width: 100%;
}