@import '../../../../scss/constants/responsive';

.Menu {
    margin: 0 $margin__xs;

    @media (min-width: $breakpoint__xs) and (min-height: $breakpoint__xs) {
        margin: 0 $margin__xs * 1.5;
    }

    @media (min-width: $breakpoint__sm) {
        margin: 0 $margin__xs * 1.5;
    }

    @media (min-width: $breakpoint__sm) and (min-height: $breakpoint__sm) {
        margin: 0 $margin__sm;
    }

    @media (min-width: $breakpoint__md) {
        margin: 0 $margin__sm;
    }
}