@import '../../../../scss/constants/responsive';

.HomeButton {
    width: $margin__xl * 4;

    @media (min-width: $breakpoint__xs) {
        width: $margin__xl * 5;
    }

    @media (min-width: $breakpoint__sm) {
        width: auto;
    }
}