@import '../../../scss/constants/colours';
@import '../../../scss/constants/page';
@import '../../../scss/constants/responsive';

.ChildrenPage {
    width: 100%;
    padding: $padding__page__xxs;

    @media
    (min-width: $breakpoint__xs) and (orientation: portrait),
    (min-height: $breakpoint__xs) and (orientation: landscape) {
        padding: $padding__page__xs;
    }

    @media
    (min-width: $breakpoint__sm) and (orientation: portrait),
    (min-height: $breakpoint__sm) and (orientation: landscape) {
        padding: $padding__page__sm;
    }

    @media
    (min-width: $breakpoint__md) and (orientation: portrait),
    (min-height: $breakpoint__md) and (orientation: landscape) {
        padding: $padding__page__md;
    }
}

.ChildrenPage__fullPage {
    width: 100vw;
    height: 100vh;
    background-color: $colour__board;
}