@import '../../../scss/constants/colours';
@import '../../../scss/constants/responsive';

.ChildrenPage {
    width: 100%;
    padding: $margin__xs * 0.5;

    @media (min-width: $breakpoint__xs) and (min-height: $breakpoint__xs) {
        padding: $margin__xs;
    }

    @media (min-width: $breakpoint__sm) {
        padding: $margin__xs;
    }

    @media (min-width: $breakpoint__sm) and (min-height: $breakpoint__sm) {
        padding: $margin__sm;
    }

    @media (min-width: $breakpoint__md) {
        padding: $margin__sm;
    }

    @media (min-width: $breakpoint__md) and (min-height: $breakpoint__md) {
        padding: $margin__md;
    }

    @media (min-width: $breakpoint__lg) {
        padding: $margin__md;
    }
}

.ChildrenPage__fullPage {
    width: 100vw;
    height: 100vh;
    background-color: $colour__board;
}