@import '../../../scss/constants/borders';
@import '../../../scss/constants/colours';
@import '../../../scss/constants/responsive';

$length__base: $margin__xs * 0.5;

.StyledPlatform {
    position: relative;
    padding: $margin__xs;
    border-radius: $borderRadius__lg;
    background-color: $colour__platform__dark;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - #{$length__base});
        border-radius: $borderRadius__lg;
        background-color: $colour__platform__medium;
        content: '';
    }
}

.StyledPlatform__left {
    border-radius: $borderRadius__lg 0 0 0;

    &:before {
        border-radius: $borderRadius__lg 0 0 0;
    }
}

.StyledPlatform__right {
    border-radius: 0 $borderRadius__lg 0 0;

    &:before {
        border-radius: 0 $borderRadius__lg 0 0;
    }
}

.StyledPlatform__side {
    &:before {
        height: 100%;
    }

    @media (min-width: $breakpoint__sm) {
        border-radius: $borderRadius__lg;

        &:before {
            border-radius: $borderRadius__lg;
            height: calc(100% - #{$length__base});
        }
    }
}

.StyledPlatform__bottom {
    border-radius: 0 0 $borderRadius__lg $borderRadius__lg;

    &:before {
        border-radius: 0 0 $borderRadius__lg $borderRadius__lg;
    }

    @media (min-width: $breakpoint__sm) {
        border-radius: $borderRadius__lg;

        &:before {
            border-radius: $borderRadius__lg;
        }
    }
}