@import '../../../scss/constants/borders';
@import '../../../scss/constants/colours';
@import '../../../scss/constants/responsive';

$length__base: $margin__xs * 0.25;

.StyledDisplay {
    top: -$length__base;
    border-radius: $borderRadius__lg;
    background-color: $colour__platform__dark;

    &:before {
        position: absolute;
        top: $length__base;
        left: 0;
        width: 100%;
        height: calc(100% - #{$length__base});
        border-radius: $borderRadius__lg;
        background-color: $colour__display;
        content: '';
    }
}
