@import '../../../scss/constants/borders';
@import '../../../scss/constants/colours';
@import '../../../scss/constants/responsive';
@import '../../../scss/constants/shadows';
@import '../../../scss/constants/transition';

.PopupView {
    position: relative;
    width: $width__sm;
    margin: 0 $margin__md;
    padding: $margin__md;

    gap: $margin__sm;

    background-color: $colour__background__medium;
    border-radius: $borderRadius__wide;
    box-shadow: $boxShadow__above;
}

.PopupView.shown {
    animation: bounceIn $transitionDuration__slow;
}