@import '../../../scss/constants/colours';
@import '../../../scss/constants/responsive';

.StyledText__rear {
    position: absolute;
    width: 100%;
}

.StyledText__rearInset {
    &.StyledText__interactive {
        color: $colour__frame__dark;
    }
}

.StyledText__rearShadow {
    color: $colour__opaque__medium;
    fill: $colour__opaque__medium;
}

.StyledText__front {
    position: relative;
}

.StyledText__frontInset {
    mix-blend-mode: screen;

    &.StyledText__interactive {
        color: $colour__frame__dark;
    }
}

.StyledText__frontShadow {
    color: $colour__text__light;

    &.StyledText__interactive {
        color: $colour__link__light;
        fill: $colour__link__light;
    }
}

.StyledText__rearShadow,
.StyledText__frontInset {
    top: 1px;
    left: 1px;

    @media (min-width: $breakpoint__sm) {
        top: 2px;
    }
}