@import '../constants/responsive';

@font-face {
    font-family: Fresca;
    src: url('../assets/fonts/Fresca/FrescaMusic-Regular.ttf');
}

@font-face {
    font-family: Peralta;
    src: url('../assets/fonts/Peralta/Peralta-Regular.ttf');
}

@font-face {
    font-family: Chicle;
    src: url('../assets/fonts/Chicle/Chicle-Regular.ttf');
}

@font-face {
    font-family: Rancho;
    src: url('../assets/fonts/Rancho/Rancho-Regular.ttf');
}

.font__text {
    font-family: Fresca, Arial;
    letter-spacing: 0.025em;
}

.font__heading {
    font-family: Peralta, Georgia;
    font-weight: normal;
}

.font__button {
    font-family: Chicle, Arial;
    letter-spacing: 0.05em;
}

.labelFontSize__sm { font-size: 0.66em; }
.labelFontSize__md { font-size: 1em; }
.labelFontSize__lg { font-size: 1.15em; }

.fontSize__sm { font-size: 0.66em; }
.fontSize__md { font-size: 1em; line-height: 1.5em; }
.fontSize__lg { font-size: 1.15em; }

@media (min-width: $breakpoint__xs) {
    .labelFontSize__sm { font-size: 0.75em; }
    .labelFontSize__md { font-size: 1.16em; }
    .labelFontSize__lg { font-size: 1.4em; }
}

@media
(min-width: $breakpoint__xs) and (orientation: portrait),
(min-height: $breakpoint__xs) and (orientation: landscape) {
    .fontSize__sm { font-size: 0.75em; }
    .fontSize__md { font-size: 1.16em; }
    .fontSize__lg { font-size: 1.4em; }
}

@media (min-width: $breakpoint__sm) {
    .labelFontSize__sm { font-size: 0.88em; }
    .labelFontSize__md { font-size: 1.33em; }
    .labelFontSize__lg { font-size: 1.75em; }
}

@media
(min-width: $breakpoint__sm) and (orientation: portrait),
(min-height: $breakpoint__sm) and (orientation: landscape) {
    .fontSize__sm { font-size: 0.88em; }
    .fontSize__md { font-size: 1.33em; }
    .fontSize__lg { font-size: 1.75em; }
}

@media (min-width: $breakpoint__md) {
    .labelFontSize__sm { font-size: 1em; }
    .labelFontSize__md { font-size: 1.5em; }
    .labelFontSize__lg { font-size: 2em; }

    .fontSize__sm { font-size: 1em; }
    .fontSize__md { font-size: 1.5em; }
    .fontSize__lg { font-size: 2em; }
}