@import '../constants/colours';

@font-face {
    font-family: Fresca;
    src: url('../assets/fonts/Fresca/Fresca-Regular.ttf');
}

@font-face {
    font-family: Eczar;
    src: url('../assets/fonts/Eczar/Eczar-SemiBold.ttf');
}

@font-face {
    font-family: Rancho;
    src: url('../assets/fonts/Rancho/Rancho-Regular.ttf');
}

.font__text {
    font-family: Fresca, Arial;
    letter-spacing: 0.025em;
}

.font__heading {
    font-family: Eczar, Georgia;
}

.font__finePrint {
    font-size: 0.75em;
    color: $colour__neutral__dark;
}