$width__hexagon: 30px;
$width__orientationX: $width__hexagon * 2;
$width__orientationY: $width__hexagon * 1.5;

.Domino {
    z-index: 1;
}

.Domino__orientationX {
    width: $width__orientationX;
}

.Domino__orientationY,
.Domino__orientationXY {
    width: $width__orientationY;
}

.Domino__face {
    position: absolute;
    transform: translate(-50%, -50%);
}