$width__hexagon: 30px;
$width__horizontal: $width__hexagon * 2;
$width__vertical: $width__hexagon * 1.5;

// $height__hexagon: $width__hexagon * 1.1547;
// $height__orientationX: $height__hexagon;

.Domino {
    z-index: 1;
}

.Domino__horizontal {
    width: $width__horizontal;
}

.Domino__vertical {
    width: $width__vertical;
}

.Domino__face {
    position: absolute;
    transform: translate(-50%, -50%);
}