@import '../../../../scss/constants/responsive';

.HeaderButton {
    font-size: 1.33em;

    @media (min-width: $breakpoint__sm) {
        font-size: 1.66em;
    }

    @media (min-width: $breakpoint__md) {
        font-size: 2em;
    }
}