@import './classes/animation';
@import './classes/font';
@import './classes/global';
@import './classes/music';
@import './svgs/style';

@font-face {
    font-family: Fresca;
    src: url('../assets/fonts/Fresca/Fresca-Regular.ttf');
}

@font-face {
    font-family: Birra;
    src: url('../assets/fonts/Birra/Birra-Stout.otf');
}