@import '../../../scss/constants/demo';
@import '../../../scss/constants/responsive';

.GameLogs {
    display: none;
    width: $width__logs__xxs;
    height: 100%;
    padding: $margin__lg $margin__sm;
    overflow-y: scroll;

    @media (orientation: landscape) {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        height: calc(100% - #{$height__controls__xxs + $margin__xs});

        @media (min-height: $breakpoint__xs) {
            width: $width__logs__xs;
        }

        @media (min-height: $breakpoint__sm) {
            width: $width__logs__sm;
        }
        
        @media (min-width: $breakpoint__sm) {
            height: calc(100% - #{$height__controls__sm + $margin__xs});
        }

        @media (min-width: $breakpoint__md) {
            position: relative;
            width: $width__logs__md;
            height: 100%;
        }
    }

    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 3%,
        rgba(0, 0, 0, 1) 97%,
        rgba(0, 0, 0, 0)
    );
}