@import '../../../scss/constants/responsive';
@import '../../../scss/constants/shadows';

$length__base: $margin__xs * 0.5;

.CheckerButton {
    & svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.CheckerButton__on {
    filter: $dropShadow__lightHover;
}