@import '../../../scss/constants/responsive';
@import '../../../scss/constants/shadows';

$length__base: $margin__xs * 0.5;

.CheckerButton {
    & svg {
        position: absolute;
    }
}

.CheckerButton__on {
    filter: $dropShadow__lightHover;
}