@import '../../../scss/constants/responsive';

.CheckerDisplay {
    width: 100%;
    gap: 0 $margin__md;
    // height: $margin__xl;
    background-color: #ebe;
    // padding: $margin__xs 0;

    font-size: 2em;
}