@import '../../scss/constants/borders';
@import '../../scss/constants/responsive';

.ChordChecker {
    padding: $margin__xs;
    gap: $margin__sm 0;
    border-radius: $borderRadius__lg;
    background-color: #8bb;
}